.formc {
    position: relative;
    display: flex;
}

.form_search{    
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    flex: 2;
    display: flex;
}


.busqueda_izq {
    flex: 2;
}

.busqueda_dch{
    flex: 1;
}

.texto_barra {
    text-decoration: none;
    font-size: 1em;
    margin-right: 5px;
    border-radius: 5px;
    background: #123c694f;
    border: none;
    width: 80%;
    height: 40px;
    color: black;
    font-family: 'Poppins', sans-serif;
    border: 3px solid transparent; 
    box-shadow: 0 0 10px rgba(0, 128, 255, 0);
    transition: border-color 0.5s, box-shadow 0.3s, background 0.3s;
    outline: none;
    font-style: none;
}



.texto_barra::placeholder {
    color: #FFFFFF;
    font-style: italic;
    transition: color 0.5s;
}

.texto_barra:hover {
    background-color: rgba(255, 255, 255, 0.83);
}

.texto_barra:hover::placeholder {
    font-style: none;
    color: rgb(83, 14, 87);
}

.texto_barra:focus {
    border-color: rgb(255, 255, 255);
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 128, 255, 0.7);
   
}


.button_class {
    background-color: transparent;
    border: none;
    
}

.button_class:hover {
    cursor: pointer;
    
}

.image_search {
    width: 30px;
    height: 30px;
    background-color: transparent;
    transition: transform 0.3s;
}

.image_search:hover {
    transform: scale(1.3);
}
  
.busquedaContrast {
    background: #FFFFFF;   
}

.busquedaDark {
    background: #526be777;
    color: #FFFFFF;   
}

.busquedaDark:hover {
    background-color: #020235;

}

.busquedaDark:focus {
    background-color: #020235;
    color: #FFFFFF;
}

@media only screen and (max-width: 768px) { 
     
    .busqueda_dch{
        flex: 0.2;
    }
  
}